@page {
  margin: 0mm;
}

@media screen {
  body {
    margin: auto;
    width: 210mm;
  }


}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  body {
    margin: 0;
    box-shadow: none !important;
  }
}


.container {
  padding: 16px;
}

.headerSpacing {
  padding-top: 8px;
}

.verticalDivider {
  height: 100%;
}

.footerSpacing {
  padding-top: 32px;
}

.captionText {
  padding-top: 32px;
  text-align: center;
  color: gray;
}




