@page {
  margin: 0mm;
}

@media screen {
  body {
    margin: auto;
    width: 210mm;
  }


}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  body {
    margin: 0;
    box-shadow: none !important;
  }
}




